# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
build/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.swp

# Jest
coverage/
lcov-report
coverage-final.json
lcov.info
lcov-report

# python
__pycache__/
.mypy_cache
